# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock
build/

# IDEs
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Misc
.DS_Store
*.log
*.swp

# iOS/Android
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/Flutter/Flutter.framework
**/ios/**/Flutter/Flutter.podspec
**/ios/**/Flutter/Generated.xcconfig
**/ios/**/Flutter/ephemeral/
**/android/.gradle/
**/android/**/local.properties
**/android/**/GeneratedPluginRegistrant.java
